streamlit==1.28.0
langchain
langchain-community
langchain-core
langchain-openai
langsmith
jsoncomment
openai==1.12.0
pytest==7.4.0
wandb
docopt
loguru
confection
shortuuid
html2text
Mastodon.py
url_normalize
notion-client
python-dotenv
pydantic-settings
rdflib
streamlit-aggrid