# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

lib-test/
lib-scripts/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.env.*
.secret.*

test/__tests__/test.users.json

# service account credentials
**/*firebase-adminsdk*.json
/scripts/.script.env
users.dashboard.output.json
/migrations/.migrations.env

test.email.html

*-all.nanopubs.data