# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

lib-test/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.env.*
.secret.*

test/__tests__/test.users.json