firebase_functions~=0.1.0
langchain
langchain-community
langchain-core
langchain-openai
langsmith
confection
pandas==2.2.0
loguru
html2text==2020.1.16
url-normalize==1.4.3
python-dotenv 
jinja2
pydantic_settings
rdflib